@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}
header {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  color: #fc1f1b;
  overflow: hidden;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.pontos {
  display: flex;
  max-width: 300px;
  margin: 10px;
  justify-content: space-between;
  border: rgba(0, 0, 0, 0.6) 2px solid;
}
.pontuação {
  margin: 10px;
  font-size: 1.1rem;
  color: #fc1f1b;
  width: 80px;
  text-align: center;
}
#player {
  color: rgba(0, 0, 0, 0.6);
}
#player-pontos {
  color: rgba(0, 0, 0, 0.6);
}
#option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slot {
  height: 50px;
  width: 200px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slot i {
  font-size: 55px;
}
.slot i:hover {
  transform: scale(1.5);
}
#slotRock i {
  width: 100%;
  color: #a9cbb7;
}
#slotPaper i {
  width: 100%;
  color: #f7ff58;
}
#slotScissors i {
  width: 100%;
  color: #ff934f;
}

button {
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 1.1rem;
  color: #fc1f1b;
  margin: 10px;
}
#change button:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: #f76c5e;
}

#popUp {
  border: solid 10px #fc1f1b;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 200px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  display: none;
}
#popUpWin {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  display: none;
}
#restartGame {
  display: flex;
  justify-content: center;
}
#glass {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  top: 42px;
  left: 50%;
  width: 100vw;
  height: 100%;
}
@media (min-width: 571px) {
  body {
    background-color: #eef5db;
  }
  header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #7a9e9f;
  }
  section {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .pontos {
    max-width: 300px;
    margin: 10px;
    justify-content: space-between;
    border: rgba(0, 0, 0, 0.6) 2px solid;
  }
  .pontuação {
    margin: 10px;
    font-size: 1.1rem;
    color: #fc1f1b;
    width: 80px;
    text-align: center;
  }
  #player {
    color: rgba(0, 0, 0, 0.6);
  }
  #player-pontos {
    color: rgba(0, 0, 0, 0.6);
  }
  #option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .slot {
    width: 150px;
    height: 100px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slot i {
    font-size: 55px;
  }
  button {
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 1.1rem;
    color: #fe5f55;
    margin: 10px;
  }

  #popUp {
    border: solid 10px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    background-color: #fe5f55;
    max-width: 200px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    display: none;
  }
  #popUpWin {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: none;
  }

  #glass {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    top: 42px;
    left: 50%;
    width: 100vw;
    height: 100%;
  }
}
@media (min-width: 800px) {
  body {
    background-color: #586ba4;
  }
  header {
    background-color: #f76c5e;
    color: #f5dd90;
  }
  section {
    background-color: #f5dd90;
  }
  .pontos {
    max-width: 300px;
    margin: 10px;
    justify-content: space-between;
    border: #f76c5e 2px solid;
  }
  .pontuação {
    margin: 10px;
    font-size: 1.1rem;
    color: #586ba4;
    width: 80px;
    text-align: center;
  }
  #player {
    color: #586ba4;
  }
  #player-pontos {
    color: #586ba4;
  }
  #resultadoEscolha {
    font-size: 20px;
    color: #586ba4;
  }

  .slot {
    width: 150px;
    text-align: center;
    border: 2px solid #f76c5e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slot i {
    font-size: 55px;
  }

  button {
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    background-color: #586ba4;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #f76c5e;
    margin: 10px;
  }

  #popUp {
    border: solid 10px #586ba4;
    border-radius: 5px;
    padding: 20px;
    background-color: #f76c5e;
    max-width: 240px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    display: none;
  }
  #popUpWin {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: none;
  }

  #glass {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    top: 42px;
    left: 50%;
    width: 100vw;
    height: 100%;
  }
}
