@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
#pg-game {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
}
header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  color: #fc1f1b;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

#movsIcon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#movsIcon i {
  margin: 20px;
  font-size: 75px;
  animation: animate 5s linear infinite;
}
#movsPaper {
  color: #a9cbb7;
  text-shadow: 0 0 50px #a9cbb7, 0 0 100px #a9cbb7, 0 0 150px #a9cbb7,
    0 0 250px #a9cbb7, 0 0 250px #a9cbb7;
  transform: rotate(270deg);
}
#movsScissors {
  color: #f7ff58;
  text-shadow: 0 0 50px #f7ff58, 0 0 100px #f7ff58, 0 0 150px #f7ff58,
    0 0 250px #f7ff58, 0 0 250px #f7ff58;
  transform: rotate(270deg);
}
#movsRock {
  color: #ff934f;
  text-shadow: 0 0 50px #ff934f, 0 0 100px #ff934f, 0 0 150px #ff934f,
    0 0 250px #ff934f, 0 0 250px #ff934f;
  transform: rotate(90deg);
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
#form {
  margin: 30px auto;
  width: 70%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}
.input-name input {
  margin-bottom: 20px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.2);
}
.input-name label {
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.2);
}
.text label {
  font-size: 18px;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.9);
  margin-left: 15px;
}
#change button {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  color: #fe5f55;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.2);
  width: 150px;
}
#change button:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: #f76c5e;
}

@media (min-width: 571px) {
  body {
    background-color: #eef5db;
  }
  header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
    color: #7a9e9f;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  }
  #form {
    margin: 0 auto;
    width: 80%;
    height: 180px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  }
  #movsIcon {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  #movsIcon i {
    margin: 20px;
    font-size: 100px;
    animation: move 3s linear infinite;
  }

  @keyframes move {
    50% {
      transform: translateX(50%);
    }
  }

  .input-name input {
    margin-bottom: 20px;
    width: 180px;
  }

  .text label {
    font-size: 18px;
    box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.9);
  }
  #change button {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    color: #fc1f1b;
    box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.2);
    width: 150px;
  }
}
@media (min-width: 800px) {
  body {
    background-color: #586ba4;
  }
  header {
    background-color: #f76c5e;
    color: #f5dd90;
    box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  }
  #movsIcon i {
    margin: 20px;
    font-size: 105px;
  }
  #form {
    margin: 0 auto;
    width: 55%;
    height: 180px;
  }

  #change button {
    color: #f76c5e;
  }

  #change button:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: #f76c5e;
  }
}
